@charset "utf-8";

/* ================

レイアウトの設定

================ */

/* ここから */
.search {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 4px;

    > button {
        grid-column: 1;
        grid-row: 1;
    }

    > input {
        grid-column: 1 / -1;
        grid-row: 1;
        padding-left: 32px;
    }
}
/* ここまで */
