@charset "utf-8";

/* ================

レイアウトの設定

================ */

/* ここから */
.vertical {
    display: grid;
    gap: 4px;
    align-content: start;
}

.horizontal {
    grid-auto-flow: column;

    display: grid;
    gap: 16px;
    justify-content: start;
}


.home {
    display: grid;
    justify-items: center;
    justify-content: start;
    font-size: 24px;
}

.home-horizontal {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 4px;
    font-size: 24px
}

.home:hover {
    background-color: #d5dbe3;
}

.home-horizontal:hover {
    background-color: #d5dbe3;
}
@media (width <= 768px) {
    .horizontal {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
}
/* ここまで */
