@charset "utf-8";

/* ================

レイアウトの設定

================ */

/* ここから */
.vertical {
    display: grid;
    gap: 4px;
    align-content: start;
}

.horizontal {
    grid-auto-flow: column;

    display: grid;
    gap: 16px;
    justify-content: start;
}

@media (width <= 768px) {
    .horizontal {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
}
/* ここまで */
